* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

.main-header{
  background-color: rgb(69,69,69);
}

.table-links-header{
  background-color: bisque;
}
.table-links{
  background-color: antiquewhite;
}
.link{
  background-color: blanchedalmond;
}